.parts-search-area {
  display: flex;
  flex-flow: column;
  width: 250px;
}

.parts-search-box {
  display: flex;
  padding: 10px;
}

.parts-search-box-input {
  flex: 1;
  /* background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s; */
}

.parts-list-area {
  border: 1px solid #666;
  flex: 1 1;
  text-align: center;
  overflow-y: scroll;
}

.parts-list-area-message {
  margin: 3em 0;
}

.parts-hover-name {
  height: 1.3em;
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
}
